<a href="https://colab.research.google.com/github/sujiraa/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
import pandas as pd

จังหวัดขอนแก่น
- ดึงแต่ละเป็นที่เป็นของจังหวัดขอนแก่นมาก่อนเพื่อดูว่าสามารถทำอะไรได้บ้าง
- วนลูป ให้ปริ๊นแต่ละค่ามาดูก่อน แล้วค่อยใส่คอลัมน์

##ความเร็ว

###ความเร็วลม

In [64]:
kkc = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความเร็วลม/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
snkpn = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความเร็วลม/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
sl = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความเร็วลม/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)
ssk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความเร็วลม/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
snk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความเร็วลม/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)

kkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
snkpn['จังหวัด'] = 'นครพนม'
sl['จังหวัด'] = 'สกลนคร'
ssk['จังหวัด'] = 'หนองคาย'
snk['จังหวัด'] = 'เลย'

In [65]:
kkc.columns

Index(['ที่', 'สถานี', 'เดือน/ปี', 'วันที่', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'เฉลี่ย', 'จังหวัด'],
      dtype='object')

In [66]:
kkc = kkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
kkc = kkc.iloc[1:]
snkpn = snkpn.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
snkpn = snkpn.iloc[1:]
sl = sl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
sl = sl.iloc[1:]
ssk = ssk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ssk = ssk.iloc[1:]
snk = snk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
snk = snk.iloc[1:]

###Concat df

In [67]:
Speed = pd.concat([kkc,snkpn,snkpn,sl,snk])
Speed.shape

(275, 36)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [68]:
Speed.columns

Index(['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'เฉลี่ย',
       'จังหวัด'],
      dtype='object')

In [69]:
Speed['เดือน'] = Speed['เดือน/ปี'].dt.month
Speed['ปี'] = Speed['เดือน/ปี'].dt.year
del Speed['เดือน/ปี']
Speed.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,353301-เลย สกษ. จ.เลย,3,2,3,2,2,3,4,3,...,5,5,4,6,4,5,3.354839,ขอนแก่น,10,2011
2,2,353301-เลย สกษ. จ.เลย,4,5,3,3,5,2,3,3,...,5,3,1,3,3,-,3.466667,ขอนแก่น,11,2011
3,3,353301-เลย สกษ. จ.เลย,3,4,4,4,4,4,4,4,...,6,5,4,4,6,5,4.806452,ขอนแก่น,12,2011
4,1,353301-เลย สกษ. จ.เลย,4,2,1,4,4,2,4,6,...,2,2,1,3,4,4,3.129032,ขอนแก่น,1,2012
5,2,353301-เลย สกษ. จ.เลย,2,2,3,2,3,1,2,3,...,2,4,3,3,3,-,2.566667,ขอนแก่น,2,2012

In [70]:
Speed = Speed[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]#ตัดคอลัมเฉลี่ยออกแล้วก็ดึงคอลัมจังหวัดไว้ท้ายสุด

### ทดลอง 1 จังหวัด

In [71]:
# skkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)

In [72]:
# skkc = skkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# skkc = skkc.iloc[1:]

In [73]:
# skkc['เดือน'] = skkc['เดือน/ปี'].dt.month
# skkc['ปี'] = skkc['เดือน/ปี'].dt.year

In [74]:
# skkc = skkc[['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
#        '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
#        '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
#        'เดือน', 'ปี','เฉลี่ย']] #ให้ columns เฉลี่ยไปอยู่สุดท้าย

In [75]:
# skkc1 =skkc.iloc[0:,3:34]
# skkc2 = skkc.iloc[0:,3:36]

In [76]:
# skkcl = list()
# for index, row in skkc2.iterrows():
#   for i in range(1,32): # เริ่มที่ 1 - 32
#     print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i-1]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
#     #print(row[i-1])
#     #skkcl.append(row[i-1])

###ทำทุกจังหวัด

In [77]:
Speed.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,25,26,27,28,29,30,31,เดือน,ปี,จังหวัด
1,1,353301-เลย สกษ. จ.เลย,3,2,3,2,2,3,4,3,...,5,5,5,4,6,4,5,10,2011,ขอนแก่น
2,2,353301-เลย สกษ. จ.เลย,4,5,3,3,5,2,3,3,...,5,5,3,1,3,3,-,11,2011,ขอนแก่น
3,3,353301-เลย สกษ. จ.เลย,3,4,4,4,4,4,4,4,...,7,6,5,4,4,6,5,12,2011,ขอนแก่น
4,1,353301-เลย สกษ. จ.เลย,4,2,1,4,4,2,4,6,...,4,2,2,1,3,4,4,1,2012,ขอนแก่น
5,2,353301-เลย สกษ. จ.เลย,2,2,3,2,3,1,2,3,...,3,2,4,3,3,3,-,2,2012,ขอนแก่น

In [78]:
Sl = list()
for index, row in Speed.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    Sl.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
Sdf = pd.DataFrame(Sl)

In [79]:
Sdf = Sdf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'ความเร็วลม'})
Sdf.drop([1,3,5,7], 1, inplace=True)
Sdf

<ipython-input-79-16167a26ec1b>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Sdf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ความเร็วลม
0     ขอนแก่น       1        10   2011          3
1     ขอนแก่น       2        10   2011          2
2     ขอนแก่น       3        10   2011          3
3     ขอนแก่น       4        10   2011          2
4     ขอนแก่น       5        10   2011          2
...       ...     ...       ...    ...        ...
8520      เลย      27         2   2022          2
8521      เลย      28         2   2022          2
8522      เลย      29         2   2022          -
8523      เลย      30         2   2022          -
8524      เลย      31         2   2022          -

[8525 rows x 5 columns]

##ความกด(เปอร์เซ็นต์)

In [80]:
pkkc = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความกด/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
pnkp = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความกด/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
psk  = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความกด/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
pnk  = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความกด/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
pl  = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความกด/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

pkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
pnkp['จังหวัด'] = 'นครพนม'
psk['จังหวัด'] = 'สกลนคร'
pnk['จังหวัด'] = 'หนองคาย'
pl['จังหวัด'] = 'เลย'
pkkc = pkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pkkc = pkkc.iloc[1:]
pnkp = pnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pnkp = pnkp.iloc[1:]
psk = psk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
psk = psk.iloc[1:]
pnk = pnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pnk = pnk.iloc[1:]
pl = pl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pl = pl.iloc[1:]

###Concat df

In [81]:
Pre = pd.concat([pkkc, pnkp, psk, pnk, pl])
Pre.shape

(275, 36)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [82]:
Pre['เดือน'] = Pre['เดือน/ปี'].dt.month
Pre['ปี'] = Pre['เดือน/ปี'].dt.year
del Pre['เดือน/ปี']
Pre.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,352201-หนองคาย จ.หนองคาย,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,1010.20,...,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,ขอนแก่น,10,2011
2,2,352201-หนองคาย จ.หนองคาย,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,1007.20,...,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,ขอนแก่น,11,2011
3,3,352201-หนองคาย จ.หนองคาย,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,1011.94,...,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น,12,2011
4,1,352201-หนองคาย จ.หนองคาย,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,1018.06,...,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น,1,2012
5,2,352201-หนองคาย จ.หนองคาย,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,1009.66,...,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,ขอนแก่น,2,2012

In [83]:
Pre = Pre[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]

###ทดลอง 1 จังหวัด

In [84]:
# pkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# pkkc = pkkc.iloc[1:]
# pkkc['เดือน'] = pkkc['เดือน/ปี'].dt.month
# pkkc['ปี'] = pkkc['เดือน/ปี'].dt.year
# pkkc.head()

In [85]:
# pkkc1 = pkkc.iloc[0:,3:34]
# pkkc2 = pkkc.iloc[0:,3:37]

In [86]:
# for index, row in pkkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความกด -> ',row[i-1])

###ทำทุกจังหวัด

In [87]:
Pl = list()
for index, row in Pre.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    Pl.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความกด',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
Predf = pd.DataFrame(Pl)
Predf = Predf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'ความกด'})
Predf.drop([1,3,5,7], 1, inplace=True)
Predf

<ipython-input-87-6abd722a374f>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Predf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่   ความกด
0     ขอนแก่น       1        10   2011  1005.47
1     ขอนแก่น       2        10   2011  1006.65
2     ขอนแก่น       3        10   2011  1007.49
3     ขอนแก่น       4        10   2011  1008.28
4     ขอนแก่น       5        10   2011  1009.88
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022  1014.97
8521      เลย      28         2   2022  1012.88
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

##อุณหภูมิตุ้ม

In [88]:
tkkc = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูิตุ้มแห้ง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
tnkp = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูิตุ้มแห้ง/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
tsk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูิตุ้มแห้ง/Copy of จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
tnk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูิตุ้มแห้ง/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
tl = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูิตุ้มแห้ง/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

tkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
tnkp['จังหวัด'] = 'นครพนม'
tsk['จังหวัด'] = 'สกลนคร'
tnk['จังหวัด'] = 'หนองคาย'
tl['จังหวัด'] = 'เลย'

tkkc = tkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tkkc = tkkc.iloc[1:]
tnkp = tnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tnkp = tnkp.iloc[1:]
tsk = tsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tsk = tsk.iloc[1:]
tnk = tnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tnk = tnk.iloc[1:]
tl = tl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tl = tl.iloc[1:]

###Concat df

In [89]:
tt = pd.concat([tkkc,tnkp,tsk,tnk,tl])
tt.shape

(270, 36)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [90]:
tt['เดือน'] = tt['เดือน/ปี'].dt.month
tt['ปี'] = tt['เดือน/ปี'].dt.year
del tt['เดือน/ปี']
tt.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,381201-ขอนแก่น จ.ขอนแก่น,27.6,25.6,25.6,25.8,24.3,24.0,25.1,27.0,...,27.2,27.3,26.9,26.3,25.8,26.2,26.2,ขอนแก่น,10,2011
2,2,381201-ขอนแก่น จ.ขอนแก่น,26.3,26.3,26.3,26.6,26.8,27.5,27.9,28.0,...,25.5,26.1,26.2,26,26,-,25.8,ขอนแก่น,11,2011
3,3,381201-ขอนแก่น จ.ขอนแก่น,25.4,23.9,21.3,22.3,23.0,25.6,25.4,25.7,...,18.3,20.4,23.5,23.7,24.2,24.1,22.4,ขอนแก่น,12,2011
4,1,381201-ขอนแก่น จ.ขอนแก่น,23.8,24.5,25.0,24.8,22.8,23.4,23.1,22.6,...,22.1,24.6,26.3,25.6,25.3,23,24.4,ขอนแก่น,1,2012
5,2,381201-ขอนแก่น จ.ขอนแก่น,23.9,25.4,25.3,24.8,27.2,28.2,28.3,26.4,...,29.2,28.2,27.5,28.5,-,-,26.5,ขอนแก่น,2,2012

In [91]:
tt = tt[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]

###ทดลอง 1 จังหวัด

In [92]:
# tkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# tkkc = tkkc.iloc[1:]
# tkkc['เดือน'] = tkkc['เดือน/ปี'].dt.month
# tkkc['ปี'] = tkkc['เดือน/ปี'].dt.year
# tkkc1 = tkkc.iloc[0:,3:34]
# tkkc2 = tkkc.iloc[0:,3:37]
# for index, row in tkkc2.iterrows():
#   for i in range(1,32):
#    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิตุ้ม -> ',row[i-1],'องศาเซลเซียส')

###ทำทุกจังหวัด

In [93]:
TTL = list()
for index, row in tt.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    TTL.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิตุ้ม',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
TTldf = pd.DataFrame(TTL)
TTldf = TTldf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'อุณหภูมิตุ้ม'})
TTldf.drop([1,3,5,7], 1, inplace=True)
TTldf

<ipython-input-93-89c5d6353749>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  TTldf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิตุ้ม
0     ขอนแก่น       1        10   2011         27.6
1     ขอนแก่น       2        10   2011         25.6
2     ขอนแก่น       3        10   2011         25.6
3     ขอนแก่น       4        10   2011         25.8
4     ขอนแก่น       5        10   2011         24.3
...       ...     ...       ...    ...          ...
8365      เลย      27         2   2021         25.2
8366      เลย      28         2   2021         25.6
8367      เลย      29         2   2021            -
8368      เลย      30         2   2021            -
8369      เลย      31         2   2021            -

[8370 rows x 5 columns]

##อุณหภูมิจุดน้ำค้าง

In [94]:
twkkc = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูมินำ้ค้าง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
twnkp = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูมินำ้ค้าง/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
twsk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูมินำ้ค้าง/Copy of จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
twnk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูมินำ้ค้าง/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
twl = pd.read_excel('/content/drive/MyDrive/data/อุตุ/อุณหภูมินำ้ค้าง/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

twkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
twnkp['จังหวัด'] = 'นครพนม'
twsk['จังหวัด'] = 'สกลนคร'
twnk['จังหวัด'] = 'หนองคาย'
twl['จังหวัด'] = 'เลย'

twkkc = twkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twkkc = twkkc.iloc[1:]
twnkp = twnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twnkp = twnkp.iloc[1:]
twsk = twsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twsk = twsk.iloc[1:]
twnk = twnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twnk = twnk.iloc[1:]
twl = twl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twl = twl.iloc[1:]

In [130]:
twl.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,24,25,26,27,28,29,30,31,เฉลี่ย,จังหวัด
1,1,353201-เลย จ.เลย,2011-10-01,23.6,23.5,21.9,21.9,21.8,21.6,21.7,...,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2,21.793548,เลย
2,2,353201-เลย จ.เลย,2011-11-01,20.1,19.5,19.5,19.1,19.5,20.5,20.6,...,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-,18.953333,เลย
3,3,353201-เลย จ.เลย,2011-12-01,18.0,16.6,15.0,14.6,15.3,16.7,18.9,...,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484,เลย
4,1,353201-เลย จ.เลย,2012-01-01,16.2,16.4,17.6,18.2,15.2,16.1,17.0,...,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613,เลย
5,2,353201-เลย จ.เลย,2012-02-01,17.8,18.8,20.7,19.1,19.5,18.2,16.4,...,16.3,17.1,16.7,18.7,18.6,16.9,-,-,17.310345,เลย

###Concat df

In [96]:
tw =  pd.concat([twkkc,twnkp,twsk,twnk,twl])
tw.shape

(270, 36)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [97]:
tw['เดือน'] = tw['เดือน/ปี'].dt.month
tw['ปี'] = tw['เดือน/ปี'].dt.year
del tw['เดือน/ปี']
tw.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,381201-ขอนแก่น จ.ขอนแก่น,24.2,24.0,22.9,21.9,21.7,21.3,21.9,23.3,...,20.7,20.8,21.9,20.3,19.7,19.7,21.903226,ขอนแก่น,10,2011
2,2,381201-ขอนแก่น จ.ขอนแก่น,20.2,18.5,19.4,19.0,19.2,20.6,21.3,21.2,...,18.3,19.2,18.9,19,18.3,-,18.910000,ขอนแก่น,11,2011
3,3,381201-ขอนแก่น จ.ขอนแก่น,17.7,15.3,12.7,14.0,14.6,16.6,19.1,19.1,...,9.7,12.4,16.1,16.3,16.1,16.3,14.525806,ขอนแก่น,12,2011
4,1,381201-ขอนแก่น จ.ขอนแก่น,16.5,17.4,18.7,17.0,15.3,16.7,15.6,14.3,...,16.3,19.5,19.7,19.4,18.7,16.7,18.058065,ขอนแก่น,1,2012
5,2,381201-ขอนแก่น จ.ขอนแก่น,18.0,19.6,19.5,19.2,20.7,20.8,19.1,19.7,...,18.8,22.3,22.1,21.3,-,-,18.772414,ขอนแก่น,2,2012

In [98]:
tw = tw[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]

###ทดลอง 1 จังหวัด

In [99]:
# twkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# twkkc = twkkc.iloc[1:]
# twkkc['เดือน'] = twkkc['เดือน/ปี'].dt.month
# twkkc['ปี'] = twkkc['เดือน/ปี'].dt.year
# twkkc1 = twkkc.iloc[0:,3:34]
# twkkc2 = twkkc.iloc[0:,3:37]
# for index, row in twkkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดน้ำค้าง -> ',row[i-1],'องศาเซลเซียส')

###ทำทุกจังหวัด

In [100]:
TWl = list()
for index, row in tw.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    TWl.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดน้ำค้าง',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
Twldf = pd.DataFrame(TWl)
Twldf = Twldf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'อุณหภูมิจุดน้ำค้าง'})
Twldf.drop([1,3,5,7], 1, inplace=True)
Twldf

<ipython-input-100-d89cea27916d>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Twldf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น       1        10   2011               24.2
1     ขอนแก่น       2        10   2011               24.0
2     ขอนแก่น       3        10   2011               22.9
3     ขอนแก่น       4        10   2011               21.9
4     ขอนแก่น       5        10   2011               21.7
...       ...     ...       ...    ...                ...
8365      เลย      27         2   2021               13.8
8366      เลย      28         2   2021               15.2
8367      เลย      29         2   2021                  -
8368      เลย      30         2   2021                  -
8369      เลย      31         2   2021                  -

[8370 rows x 5 columns]

##อุณหภูมิจุดต่ำสุด

In [101]:
tlkkc = pd.read_excel("/content/drive/MyDrive/data/อุตุ/อุณหภูมิตำ่สุด/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
tlnkp = pd.read_excel("/content/drive/MyDrive/data/อุตุ/อุณหภูมิตำ่สุด/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
tlsk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/อุณหภูมิตำ่สุด/Copy of จ.สกล.xlsx",sheet_name='Sheet1',skiprows=3)
tlnk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/อุณหภูมิตำ่สุด/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
tll = pd.read_excel("/content/drive/MyDrive/data/อุตุ/อุณหภูมิตำ่สุด/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

tlkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
tlnkp['จังหวัด'] = 'นครพนม'
tlsk['จังหวัด'] = 'สกลนคร'
tlnk['จังหวัด'] = 'หนองคาย'
tll['จังหวัด'] = 'เลย'

tlkkc = tlkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlkkc = tlkkc.iloc[1:]
tlnkp = tlnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlnkp = tlnkp.iloc[1:]
tlsk = tlsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlsk = tlsk.iloc[1:]
tlnk = tlnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlnk = tlnk.iloc[1:]
tll = tll.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tll = tll.iloc[1:]

###Concat df

In [102]:
tl =  pd.concat([tlkkc,tlnkp,tlsk,tlnk,tll])
tl.shape

(275, 36)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [103]:
tl['เดือน'] = tl['เดือน/ปี'].dt.month
tl['ปี'] = tl['เดือน/ปี'].dt.year
del tl['เดือน/ปี']
tl.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,381201-ขอนแก่น จ.ขอนแก่น,24.8,23.0,22.1,22.8,23.1,21.7,22.0,23.2,...,21.6,21.7,22.4,21.7,20.2,21.1,22.4,ขอนแก่น,10,2011
2,2,381201-ขอนแก่น จ.ขอนแก่น,20.7,20.4,20.5,20.9,20.6,22.2,23.8,22.4,...,18.9,20.2,20.1,20.2,19.8,-,20.3,ขอนแก่น,11,2011
3,3,381201-ขอนแก่น จ.ขอนแก่น,19.3,18.9,15.4,15.6,16.3,20.2,20.8,21.0,...,11.6,13.2,16.5,16.7,18.4,17,16.4,ขอนแก่น,12,2011
4,1,381201-ขอนแก่น จ.ขอนแก่น,17.7,19.6,20.4,20.7,16.8,16.9,16.8,15.5,...,16.2,17.5,21.6,20.8,21.6,20.1,19.4,ขอนแก่น,1,2012
5,2,381201-ขอนแก่น จ.ขอนแก่น,19.4,20.5,20.9,20.9,21.5,21.1,20.7,20.4,...,21.3,23.4,22,22.2,-,-,20.1,ขอนแก่น,2,2012

In [104]:
tl = tw[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]

###ทดลอง 1 จังหวัด

In [105]:
# tlkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# tlkkc = tlkkc.iloc[1:]
# tlkkc['เดือน'] = tlkkc['เดือน/ปี'].dt.month
# tlkkc['ปี'] = tlkkc['เดือน/ปี'].dt.year
# tlkkc1 = tlkkc.iloc[0:,3:34]
# tlkkc2 = tlkkc.iloc[0:,3:37]
# for index, row in tlkkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดต่ำสุด -> ',row[i-1],'องศาเซลเซียส')

###ทำทุกจังหวัด

In [106]:
Tlowest = list()
for index, row in tl.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    Tlowest.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดต่ำสุด',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
Tlowdf = pd.DataFrame(Tlowest)
Tlowdf = Tlowdf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'อุณหภูมิจุดต่ำสุด'})
Tlowdf.drop([1,3,5,7], 1, inplace=True)
Tlowdf

<ipython-input-106-d7a2959686ce>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Tlowdf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิจุดต่ำสุด
0     ขอนแก่น       1        10   2011              24.2
1     ขอนแก่น       2        10   2011              24.0
2     ขอนแก่น       3        10   2011              22.9
3     ขอนแก่น       4        10   2011              21.9
4     ขอนแก่น       5        10   2011              21.7
...       ...     ...       ...    ...               ...
8365      เลย      27         2   2021              13.8
8366      เลย      28         2   2021              15.2
8367      เลย      29         2   2021                 -
8368      เลย      30         2   2021                 -
8369      เลย      31         2   2021                 -

[8370 rows x 5 columns]

##ความชื้น

In [107]:
mkkc = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความชื้นสัมพัท/Copy of จ.ขอนแก่น.xlsx',sheet_name="Sheet1",skiprows=3)
mnkp = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความชื้นสัมพัท/Copy of จ.นครพนม.xlsx',sheet_name="Sheet1",skiprows=3)
msk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความชื้นสัมพัท/Copy of จ.สกลนคร.xlsx',sheet_name="Sheet1",skiprows=3)
mnk = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความชื้นสัมพัท/Copy of จ.หนองคาย.xlsx',sheet_name="Sheet1",skiprows=3)
ml = pd.read_excel('/content/drive/MyDrive/data/อุตุ/ความชื้นสัมพัท/Copy of จ.เลย.xlsx',sheet_name="Sheet1",skiprows=3)

mkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
mnkp['จังหวัด'] = 'นครพนม'
msk['จังหวัด'] = 'สกลนคร'
mnk['จังหวัด'] = 'หนองคาย'
ml['จังหวัด'] = 'เลย'

mkkc = mkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mkkc = mkkc.iloc[1:]
mnkp = mnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mnkp = mnkp.iloc[1:]
msk = msk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
msk = msk.iloc[1:]
mnk = mnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mnk = mnk.iloc[1:]
ml = ml.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ml = ml.iloc[1:]

###Concat df

In [108]:
m =  pd.concat([mkkc,mnkp,msk,mnk,ml])
m.shape

(275, 36)

###ดึงเดือน กับ ปี แยกคอลัมน์

In [109]:
m['เดือน'] = m['เดือน/ปี'].dt.month
m['ปี'] = m['เดือน/ปี'].dt.year
del m['เดือน/ปี']
m.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,381201-ขอนแก่น จ.ขอนแก่น,83,92,86,80,86,86,83,82,...,69,69,75,71,71,68,79.0,ขอนแก่น,10,2011
2,2,381201-ขอนแก่น จ.ขอนแก่น,71,65,68,65,65,68,69,69,...,67,68,67,67,65,-,68.0,ขอนแก่น,11,2011
3,3,381201-ขอนแก่น จ.ขอนแก่น,66,61,61,62,61,60,69,68,...,60,62,65,66,63,64,63.0,ขอนแก่น,12,2011
4,1,381201-ขอนแก่น จ.ขอนแก่น,65,66,69,63,64,68,65,62,...,71,75,69,70,67,68,69.0,ขอนแก่น,1,2012
5,2,381201-ขอนแก่น จ.ขอนแก่น,71,72,71,72,70,68,61,69,...,57,71,73,68,-,-,65.0,ขอนแก่น,2,2012

In [110]:
m = m[['ที่', 'สถานี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','จังหวัด']]

###ทดลอง 1 จังหวัด

In [111]:
# mkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name="Sheet1",skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# mkkc = mkkc.iloc[1:]
# mkkc['เดือน'] = mkkc['เดือน/ปี'].dt.month
# mkkc['ปี'] = mkkc['เดือน/ปี'].dt.year
# mkkc1 = mkkc.iloc[0:,3:34]
# mkkc2 = mkkc.iloc[0:,3:37]
# for index, row in mkkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความชื้นสัมพัทธ์ -> ',row[i-1],'%')

###ทำทุกจังหวัด

In [112]:
Mlist = list()
for index, row in m.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    Mlist.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความชื้น',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
Mdf = pd.DataFrame(Mlist)
Mdf = Mdf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'ความชื้น'})
Mdf.drop([1,3,5,7], 1, inplace=True)
Mdf

<ipython-input-112-1a8c39026bd1>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Mdf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ความชื้น
0     ขอนแก่น       1        10   2011       83
1     ขอนแก่น       2        10   2011       92
2     ขอนแก่น       3        10   2011       86
3     ขอนแก่น       4        10   2011       80
4     ขอนแก่น       5        10   2011       86
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022       74
8521      เลย      28         2   2022       72
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

##ปริมาณฝน

In [113]:
vrkkc = pd.read_excel("/content/drive/MyDrive/data/อุตุ/ปริมาณนำ้ฝน/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
vrnkp = pd.read_excel("/content/drive/MyDrive/data/อุตุ/ปริมาณนำ้ฝน/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
vrsk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/ปริมาณนำ้ฝน/Copy of จ.สกล.xlsx",sheet_name='Sheet1',skiprows=3)
vrnk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/ปริมาณนำ้ฝน/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
vrl = pd.read_excel("/content/drive/MyDrive/data/อุตุ/ปริมาณนำ้ฝน/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

vrkkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
vrnkp['จังหวัด'] = 'นครพนม'
vrsk['จังหวัด'] = 'สกลนคร'
vrnk['จังหวัด'] = 'หนองคาย'
vrl['จังหวัด'] = 'เลย'

vrkkc = vrkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrkkc = vrkkc.iloc[1:]
vrnkp = vrnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrnkp = vrnkp.iloc[1:]
vrsk = vrsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrsk = vrsk.iloc[1:]
vrnk = vrnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrnk = vrnk.iloc[1:]
vrl = vrl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrl = vrl.iloc[1:]

###Concat df

In [114]:
vr =  pd.concat([vrkkc,vrnkp,vrsk,vrnk,vrl])
vr.shape

(275, 36)

###ดึงเดือน กับ ปี แยกคอลัมน์

In [115]:
vr['เดือน'] = vr['เดือน/ปี'].dt.month
vr['ปี'] = vr['เดือน/ปี'].dt.year
del vr['เดือน/ปี']
vr.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,381201-ขอนแก่น จ.ขอนแก่น,1.4,17.7,3,0,2.2,0.5,1.3,0.2,...,0,0.5,1.1,0,0,0,176.8,ขอนแก่น,10,2011
2,2,381201-ขอนแก่น จ.ขอนแก่น,0,0,0,0,0,0,0,3.2,...,0,0,0,0,0,-,11.8,ขอนแก่น,11,2011
3,3,381201-ขอนแก่น จ.ขอนแก่น,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,ขอนแก่น,12,2011
4,1,381201-ขอนแก่น จ.ขอนแก่น,0,0,0,0,0,0,0,0,...,0,0,0,0,T,0,38.7,ขอนแก่น,1,2012
5,2,381201-ขอนแก่น จ.ขอนแก่น,0,0,T,0,0,0,0,0,...,0,0,0,0,-,-,T,ขอนแก่น,2,2012

###ทดลอง 1 จังหวัด

In [116]:
# vrkkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# vrkkc = vrkkc.iloc[1:]
# vrkkc['เดือน'] = vrkkc['เดือน/ปี'].dt.month
# vrkkc['ปี'] = vrkkc['เดือน/ปี'].dt.year
# vrkkc1 = vrkkc.iloc[0:,3:34]
# vrkkc2 = vrkkc.iloc[0:,3:37]
# for index, row in vrkkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณน้ำฝน -> ',row[i-1],'มิลลิลิตร')

###ทำทุกจังหวัด

In [117]:
vrlist = list()
for index, row in vr.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    vrlist.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณฝน',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
vrdf = pd.DataFrame(vrlist)
vrdf = vrdf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'ปริมาณฝน'})
vrdf.drop([1,3,5,7], 1, inplace=True)
vrdf

<ipython-input-117-32ee92674ea7>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  vrdf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ปริมาณฝน
0     ขอนแก่น       1        10   2011      1.4
1     ขอนแก่น       2        10   2011     17.7
2     ขอนแก่น       3        10   2011        3
3     ขอนแก่น       4        10   2011        0
4     ขอนแก่น       5        10   2011      2.2
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022        0
8521      เลย      28         2   2022        0
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

##ปริมาณเมฆ

In [118]:
ckkc = pd.read_excel("/content/drive/MyDrive/data/อุตุ/จำนวนเมฆ/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
cnkp = pd.read_excel("/content/drive/MyDrive/data/อุตุ/จำนวนเมฆ/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
csk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/จำนวนเมฆ/Copy of จ.สกลนคร.xlsx",sheet_name='Sheet1',skiprows=3)
cnk = pd.read_excel("/content/drive/MyDrive/data/อุตุ/จำนวนเมฆ/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
cl = pd.read_excel("/content/drive/MyDrive/data/อุตุ/จำนวนเมฆ/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

ckkc['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
cnkp['จังหวัด'] = 'นครพนม'
csk['จังหวัด'] = 'สกลนคร'
cnk['จังหวัด'] = 'หนองคาย'
cl['จังหวัด'] = 'เลย'

ckkc = ckkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ckkc = ckkc.iloc[1:]
cnkp = cnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
cnkp = cnkp.iloc[1:]
csk = csk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
csk = csk.iloc[1:]
cnk = cnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
cnk = cnk.iloc[1:]
cl = cl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
cl = cl.iloc[1:]

In [119]:
del cl['Unnamed: 35']
del cl['Unnamed: 36']
del cl['Unnamed: 37']
del cl['Unnamed: 38']
del cl['Unnamed: 39']
del cl['Unnamed: 40']
del cl['Unnamed: 41']
del cl['Unnamed: 42']
del cl['Unnamed: 43']
del cl['Unnamed: 44']

###Concat df

In [120]:
c = pd.concat([ckkc,cnkp,csk,cnk,cl])
c.shape

(275, 36)

###ดึงเดือน กับ ปี แยกคอลัมน์

In [121]:
c['เดือน'] = c['เดือน/ปี'].dt.month
c['ปี'] = c['เดือน/ปี'].dt.year
del c['เดือน/ปี']
c.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,เฉลี่ย,จังหวัด,เดือน,ปี
1,1,353301-เลย สกษ. จ.เลย,9,10,10,8,10,10,10,7,...,3,3,5,4,2,2,6.322581,ขอนแก่น,10,2011
2,2,353301-เลย สกษ. จ.เลย,2,2,2,2,3,6,9,6,...,2,2,1,3,2,-,3.533333,ขอนแก่น,11,2011
3,3,353301-เลย สกษ. จ.เลย,2,3,4,4,5,8,7,6,...,3,1,2,1,1,1,3.516129,ขอนแก่น,12,2011
4,1,353301-เลย สกษ. จ.เลย,1,4,7,6,3,1,3,3,...,3,2,5,6,10,10,5.354839,ขอนแก่น,1,2012
5,2,353301-เลย สกษ. จ.เลย,6,6,8,8,3,3,1,2,...,1,4,5,1,2,-,2.533333,ขอนแก่น,2,2012

###ทดลอง 1 จังหวัด

In [122]:
# ckkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
#        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
#        'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
#        'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
#        'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
#        'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
#        'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
#        'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
# ckkc = ckkc.iloc[1:]
# ckkc['เดือน'] = ckkc['เดือน/ปี'].dt.month
# ckkc['ปี'] = ckkc['เดือน/ปี'].dt.year
# ckkc1 = ckkc.iloc[0:,3:34]
# ckkc2 = ckkc.iloc[0:,3:37]
# for index, row in ckkc2.iterrows():
#   for i in range(1,32):
#     #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณเมฆ -> ',row[i-1],'ส่วน')

###ทำทุกจังหวัด

In [123]:
clist = list()
for index, row in c.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i+1], row['จังหวัด'])
    clist.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณเมฆ',row[i+1]]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์

cdf = pd.DataFrame(clist)
cdf = cdf.rename(columns={0:'จังหวัด',2:'วันที่',4:'เดือนที่',6:'ปีที่',8:'ปริมาณเมฆ'})
cdf.drop([1,3,5,7], 1, inplace=True)
cdf

<ipython-input-123-701fadef56ea>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  cdf.drop([1,3,5,7], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ปริมาณเมฆ
0     ขอนแก่น       1        10   2011         9
1     ขอนแก่น       2        10   2011        10
2     ขอนแก่น       3        10   2011        10
3     ขอนแก่น       4        10   2011         8
4     ขอนแก่น       5        10   2011        10
...       ...     ...       ...    ...       ...
8520      เลย      27         2   2022         3
8521      เลย      28         2   2022         2
8522      เลย      29         2   2022         -
8523      เลย      30         2   2022         -
8524      เลย      31         2   2022         -

[8525 rows x 5 columns]

#Merge ทุก df มารวม

In [ ]:
Sdf,Predf,TTldf,Twldf,Tlowdf,Mdf,vrdf,cdf

In [125]:
merge1 = Sdf.merge(Predf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge2 = merge1.merge(TTldf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge3 = merge2.merge(Twldf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge4 = merge3.merge(Tlowdf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge5 = merge4.merge(Mdf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge6 = merge5.merge(vrdf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge7 = merge6.merge(cdf, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge7

,จังหวัด,วันที่,เดือนที่,ปีที่,ความเร็วลม,ความกด,อุณหภูมิตุ้ม,อุณหภูมิจุดน้ำค้าง,อุณหภูมิจุดต่ำสุด,ความชื้น,ปริมาณฝน,ปริมาณเมฆ
0,ขอนแก่น,1,10,2011,3,1005.47,27.6,24.2,24.2,83,1.4,9
1,ขอนแก่น,2,10,2011,2,1006.65,25.6,24.0,24.0,92,17.7,10
2,ขอนแก่น,3,10,2011,3,1007.49,25.6,22.9,22.9,86,3,10
3,ขอนแก่น,4,10,2011,2,1008.28,25.8,21.9,21.9,80,0,8
4,ขอนแก่น,5,10,2011,2,1009.88,24.3,21.7,21.7,86,2.2,10
...,...,...,...,...,...,...,...,...,...,...,...,...
8365,เลย,27,2,2021,2,1005.76,25.2,13.8,13.8,56,0,2
8366,เลย,28,2,2021,3,1008.21,25.6,15.2,15.2,58,0,1
8367,เลย,29,2,2021,-,-,-,-,-,-,-,4
8368,เลย,30,2,2021,-,-,-,-,-,-,-,-
8369,เลย,31,2,2021,-,-,-,-,-,-,-,-